.postInfos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: rgb(255, 255, 255, .87);
  border-top: 1px solid #353535;
  padding-top: 16px;
}

.postInfos {
  list-style-type: none;
}

.postInfos li {
  display: inline;
  
}

.postInfos li:last-child {
  display: inline-flex;
  align-items: center;
}

.postInfos li:last-child span {
  margin-left: 3px;
  color: black;
  font-weight: normal;
}

.postInfos li span {
  font-weight: bold;
  color: orangered;
}

.commentsIcon:hover {
  cursor: pointer;
}

.commentsNum {
  color: rgb(255, 255, 255, .87);
}