.Post {
  width: 80% !important;
  background-color: #22232b !important;
  color: rgb(255, 255, 255, .87) !important;
  border-radius: 5px !important;
  padding-left: 17px !important;
  padding-right: 17px !important;
  margin-top: 40px !important;
  display: flex !important;
  flex-direction: column !important;
}

.Post img {
  width: 100% !important;
  height: auto !important;
  align-self: center !important;
  max-width: 900px !important;
}

.PostUser {
  font-size: 0.80rem !important;
  color: rgb(255, 255, 255, .57) !important;
}

video {
  max-height: 600px !important;
}