.Post {
  width: 80%;
  background-color: #25262c;
  color: rgb(255, 255, 255, .87);
  border-radius: 5px;
  padding-left: 17px;
  padding-right: 17px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.Post img {
  width: 100%;
  height: auto;
  align-self: center;
}

.PostUser {
  font-size: 0.80rem;
  color: rgb(255, 255, 255, .57);
}