.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1b1c22;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100vw;
  background-color: #121214;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.mainHeader {
  position: relative;
  margin-left: 20px;
  color: #e65626;
}

.mainHeader:hover {
  cursor: pointer;
  color: #e65626;
  transition-duration: 0.2s;
}

.mainHeader span {
  font-style: italic;
  font-weight: lighter;
  color: rgb(255, 255, 255, .87);
}

.searchBar {
  margin-left: 60px;
}

.mainWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

@media only screen and (max-width: 711px) {
  .header {
    min-height: 130px;
    justify-content: baseline;
    padding-left: 15%;
  }

  .searchBar {
    margin-top: -0px;
    min-width: 80%;
    margin-left: 0px;
  }

  .mainHeader {
    margin-bottom: -15px;
    margin-top: 0px;
    min-width: 80%;
    margin-left: 0px;
  }
}
