.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #363636;
}

.header {
  width: 100vw;
  background-color: #555555;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #646464;
}

.mainHeader {
  position: absolute;
  left: 10px;
  color: #e4e4e4;
}
